# === Laravel ===
src/.env
src/public/build/*
!src/public/build/.gitkeep
src/storage/*.key
src/vendor/

# === Docker ===
.env
*.log
backups/

# === Node ===
src/node_modules/
src/npm-debug.log

# === IDE ===
.idea/
.vscode/
*.swp
