# === Приложение ===
APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# === Локализация ===
APP_LOCALE=ru
APP_FALLBACK_LOCALE=en

# === Логирование ===
LOG_CHANNEL=stack
LOG_LEVEL=debug

# === База данных ===
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=stasrcy_db
DB_USERNAME=starscy
DB_PASSWORD=changeme

# === Сессии ===
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_DOMAIN=localhost
SANCTUM_STATEFUL_DOMAINS=localhost:8080,localhost:5173

# === Кеш и очередь ===
CACHE_STORE=database
QUEUE_CONNECTION=sync

# === Почта ===
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# === Vite ===
VITE_APP_NAME="${APP_NAME}"
